<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block meta_title %} {{ (meta_title is defined) ? meta_title }} {% endblock %} - {{ option('siteName') }}</title>
        <meta name="description" content="{% block meta_description %}{{ (meta_description is defined) ? meta_description }}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page is defined %}
            {{ meta_alternate(page) }}
        {% endif %}

        <link rel="icon" href='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" fill="none"><rect width="500" height="500" rx="70" fill="%23274035"/><path d="M267.35 90L376.7 371.7C380.9 382.5 385.55 390 390.65 394.2C396.05 398.1 400.85 400.2 405.05 400.5V409.5C396.05 408.9 385.4 408.6 373.1 408.6C361.1 408.3 348.95 408.15 336.65 408.15C322.85 408.15 309.8 408.3 297.5 408.6C285.2 408.6 275.45 408.9 268.25 409.5V400.5C283.55 399.9 293.15 397.35 297.05 392.85C301.25 388.05 300.35 378 294.35 362.7L217.85 153.45L225.95 141.75L157.55 319.95C150.95 336.45 146.9 349.95 145.4 360.45C144.2 370.95 144.95 379.05 147.65 384.75C150.65 390.45 155.3 394.5 161.6 396.9C168.2 399 176 400.2 185 400.5V409.5C175.1 408.9 165.65 408.6 156.65 408.6C147.65 408.3 138.5 408.15 129.2 408.15C122.6 408.15 116.3 408.3 110.3 408.6C104.6 408.6 99.5 408.9 95 409.5V400.5C101.3 399.3 107.75 395.25 114.35 388.35C120.95 381.45 127.4 369.75 133.7 353.25L236.3 90C241.1 90.3 246.2 90.45 251.6 90.45C257.3 90.45 262.55 90.3 267.35 90ZM298.85 279.9V288.9H164.75L169.25 279.9H298.85Z" fill="white"/></svg>' type="image/svg+xml" />
{#        <link rel="icon" href='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" fill="none"><rect width="500" height="500" rx="70" fill="%23274035"/><path d="M269.5 72L391 385C395.667 397 400.833 405.333 406.5 410C412.5 414.333 417.833 416.667 422.5 417V427C412.5 426.333 400.667 426 387 426C373.667 425.667 360.167 425.5 346.5 425.5C331.167 425.5 316.667 425.667 303 426C289.333 426 278.5 426.333 270.5 427V417C287.5 416.333 298.167 413.5 302.5 408.5C307.167 403.167 306.167 392 299.5 375L214.5 142.5L223.5 129.5L147.5 327.5C140.167 345.833 135.667 360.833 134 372.5C132.667 384.167 133.5 393.167 136.5 399.5C139.833 405.833 145 410.333 152 413C159.333 415.333 168 416.667 178 417V427C167 426.333 156.5 426 146.5 426C136.5 425.667 126.333 425.5 116 425.5C108.667 425.5 101.667 425.667 95 426C88.6667 426 83 426.333 78 427V417C85 415.667 92.1667 411.167 99.5 403.5C106.833 395.833 114 382.833 121 364.5L235 72C240.333 72.3333 246 72.5 252 72.5C258.333 72.5 264.167 72.3333 269.5 72ZM304.5 283V293H155.5L160.5 283H304.5Z" fill="white"/></svg>' type="image/svg+xml" />#}
{#        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">#}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{#            {% block importmap %}{{ importmap('app') }}{% endblock %}#}
        {% endblock %}

        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '2584552765083078');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=2584552765083078&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Meta Pixel Code -->

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WCHCDG7X');</script>
        <!-- End Google Tag Manager -->

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NLXSS1B0JF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-NLXSS1B0JF');
        </script>
    </head>
    <body class="{{ body_class() }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCHCDG7X"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 'web/layout/bar.html.twig' %}
        {% include 'web/layout/header.html.twig' %}
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>

        {% include 'web/layout/footer.html.twig' %}

        {% if forms is defined %}
            {% include 'web/modal/form_certificate.html.twig' %}
            {% include 'web/modal/form_contact_me.html.twig' %}
        {% endif %}
    </body>
</html>
