<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block meta_title %} {{ (meta_title is defined) ? meta_title }} {% endblock %} - {{ option('siteName') }}</title>
        <meta name="description" content="{% block meta_description %}{{ (meta_description is defined) ? meta_description }}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page is defined %}
            {{ meta_alternate(page) }}
        {% endif %}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{#            {% block importmap %}{{ importmap('app') }}{% endblock %}#}
        {% endblock %}

        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '2584552765083078');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=2584552765083078&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Meta Pixel Code -->

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WCHCDG7X');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body class="{{ body_class() }}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCHCDG7X"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% include 'web/layout/bar.html.twig' %}
        {% include 'web/layout/header.html.twig' %}
        <div class="wrapper">
            {% block body %}{% endblock %}
        </div>

        {% include 'web/layout/footer.html.twig' %}

        {% if forms is defined %}
            {% include 'web/modal/form_certificate.html.twig' %}
            {% include 'web/modal/form_contact_me.html.twig' %}
        {% endif %}
    </body>
</html>
