{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="section section-portfolio_hero">
            <div class="section__wrapper">
                <div class="container">
                    <div class="section__inner">
                        <div class="section__content">
                            <h1 class="section__title display-2">{{ page.title }}</h1>
                            <div class="section__text">
                                {{ page.shortDescription|raw }}
                            </div>
                            {% if page.location is not empty %}
                                <div class="section__info">
                                    <div class="item">
                                        <i class="icon icon-map icon--color-primary"></i> <p> {{ page.location }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-portfolio_list">
            <div class="section__wrapper">
                <div class="container">
                    {% if page.portfolioCM|length > 0 %}
                        <div class="section__tabs">
                            <div class="tabs js-tabs">
                                <div class="tabs__nav">
                                    <div class="tab lead active" data-name="all">
                                        Всі фото
                                    </div>

                                    {% for category in page.portfolioCM %}
                                        <div class="tab lead" data-name="{{ category.name }}">
                                            {{ category.name }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="section__list">
                        {% if app.request.get('hash') is empty %}
                            {% if page.PortfolioM|length == 0 %}
                                {% for media in page.media %}
                                    <a href="/{{ media.getDesktop }}" class="section__item" data-category="none">
                                        {{ looly_media(media.id) }}
                                    </a>
                                {% endfor %}
                            {% endif %}

                            {% for media in page.PortfolioM %}
                                <a href="/{{ media.media.getDesktop }}" class="section__item" data-category="{{ media.category.name|default('none') }}">
                                    {{ looly_media(media.media.id) }}
                                </a>
                            {% endfor %}
                        {% endif %}

                        {% if app.request.get('hash') is not empty and page.photoshoot|length > 0 %}
                            {% for media in page.photoshoot.media %}
                                <a href="/{{ media.getDesktop }}" class="section__item">
                                    {{ looly_media(media.id) }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        {% if app.request.get('hash') is empty %}
            <section class="section section-contact-me-small">
                <div class="container">
                    <div class="section__inner">
                        <h3 class="section__title">Готові забронювати зйомку або маєте питання?</h3>
                        <div class="section__actions">
                            <a href="#ModalFormContactMe" class="button button-white">Написати мені</a>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}