{% extends 'blocks/base.html.twig' %}

{% block body_block %}
    <div class="section__header">
        {% if attributes.data.image is defined %}
            <div class="section__image">
                {{ looly_media(attributes.data.image) }}
            </div>
        {% endif %}
        <div class="section__header_content">
            <h2 class="section__title">{{ attributes.data.title }}</h2>
        </div>
    </div>

    <div class="section__content">
        <form class="form formCallMeBack">
            <div class="form__row">
                <div class="form__group">
                    <label class="form__label" for="name">{{ 'block.contact_me.form.name.label'|trans }} *</label>
                    <input type="text" id="name" name="name" class="form__control" placeholder="{{ 'block.contact_me.form.name.placeholder'|trans }}">
                    <div class="form__error"></div>
                </div>
                <div class="form__group">
                    <label class="form__label" for="email_phone">{{ 'block.contact_me.form.email_phone.label'|trans }} *</label>
                    <input type="text" id="email_phone" name="phone" class="form__control" placeholder="{{ 'block.contact_me.form.email_phone.placeholder'|trans }}">
                    <div class="form__error"></div>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label" for="message">{{ 'block.contact_me.form.message.label'|trans }}</label>
                <textarea name="message" id="message" class="form__control" placeholder="{{ 'block.contact_me.form.message.placeholder'|trans }}"></textarea>
            </div>

            <button type="submit" class="button button-primary">{{ 'block.contact_me.form.submit'|trans }}</button>
        </form>
    </div>
{% endblock %}
