{% extends 'blocks/base.html.twig' %}

{% block body_block %}
    {% if attributes.data.title is not empty or attributes.data.text is not empty %}
        <div class="section__content">
            {% if attributes.data.title is not empty %}
                <h2 class="section__title">{{ attributes.data.title }}</h2>
            {% endif %}

            {% if attributes.data.text is not empty %}
                <div class="section__text lead">{{ attributes.data.text }}</div>
            {% endif %}
        </div>
    {% endif %}

    {% if attributes.data.filter is defined and attributes.data.filter == 1 %}
        {{ filter_field(attributes.data.categories, 'categories') }}
    {% endif %}

    {% if attributes.data.items is defined %}
        <div class="portfolio">
            {% for item in attributes.data.items %}
                <a href="{{ path('app_portfolio_single', {'slug': item.slug}) }}" class="item-portfolio">
                    <div class="item__image">{{ looly_media(item.image.id) }}</div>
                    <h5 class="item__title">{{ item.title }}</h5>
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if attributes.data.limit %}
        <div class="section__actions">
            <a href="/portfolio" class="button button-primary">Інші роботи</a>
        </div>
    {% endif %}
{% endblock %}
