{% extends 'base_login.html.twig' %}

{% block meta_title %}Log in{% endblock %}

{% block body %}
    <div class="login">
        <form method="post" class="form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form__group">
                <label for="username" class="form__label">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form__control" autocomplete="email" required>
            </div>

            <div class="form__group">
                <label for="password" class="form__label">Password</label>
                <input type="password" name="_password" id="password" class="form__control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="button button-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
{% endblock %}
